<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.yoursite.basicparticle"
    versionCode = "10"
    version     = "1.0.12" >

  <name>basicparticle</name>
  <description>
      An example for phonegap build docs.
  </description>
  <author href="https://yoursite.com" email="you@gmail.com">
      wildabeast
  </author>

  <!-- all platforms -->
<!--  <preference name="phonegap-version" value="cli-6.3.0" /> -->   
  <preference name="phonegap-version" value="3.7.0" /> 
  <preference name="orientation" value="default" />
  <preference name="fullscreen" value="true" />

  <!-- Android only -->
  <preference name="android-minSdkVersion" value="10" />
  <preference name="android-maxSdkVersion" value="21" />
  <preference name="android-targetSdkVersion" value="21" />
  <preference name="android-installLocation" value="auto" />
</widget>


